body{
    margin: 0px;
    background: rgb(10, 10, 10);
}

p{
    color: white;
}

h1{
    color: white;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    text-align: center
}

video{
    opacity: 0.5;
}

#flip{
    margin-top: 5%;
}

#flip:hover{
    cursor: pointer;
}

#flip:hover i{
    transform: scale(1.5);
}

#flip i{
    transform: scale(1.7);
    transition: 0.3s;
}

#panel, #flip {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: hidden 1px white;
    /*background: rgba(10, 10, 10, 0.616);*/
    padding: 1px;
  }
  
  #panel {
    padding: 10px;
    display: none;
    font-size: 20px;
  }

#titre{
    margin-bottom: 4%;
}

section{
    text-align: center;
    margin-top: 15vh;
    font-family: 'Julius Sans One', sans-serif;
}

section p{
    font-size: 15px;
    margin-top: -30px;
    margin-bottom: 5%;
    letter-spacing: 10px;
    font-family: 'Orbitron', sans-serif;
}

.wrapper {
    width: 100%;
    height: 75vh;
    position: relative;
    overflow: hidden;
  }
  
  .left,
  .right {
    width: 55%;
    height: 100%;
    top: 0;
    transform: skewX(-15deg);
    overflow: hidden;
  }
  
  .left {
    position: relative;
    left: -5%;
    margin-top: 0px;
  }
  
  .right {
    position: absolute;
    right: -5%;
    margin-top: 0px;
  }
  
  .left .inner,
  .right .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewX(15deg);
  }
  
  .left .inner {
    background-image: url("images/menu/plaineespace.png");
    margin-left: 9%;
    text-align: left;
  
    filter: brightness(0.5) grayscale(100%);
    background-size: cover;
    transition: 0.4s;
  }
  
  .right .inner {
    background-image: url("images/menu/magaclite.jpg");
    margin-left: -9%;
    text-align: right;
  
    filter: brightness(0.5);
    background-size: cover;
    transition: 0.4s;
  }
  
  .inner {
    position: relative;
  }
  
  .inner .text-wrapper {
    position: absolute;
  }
  
  .left .text-wrapper {
    top: 15px;
    left: 15px;
  }
  .right .text-wrapper {
    bottom: 15px;
    right: 15px;
  }
  
  .left .inner:hover {
    filter: brightness(1) grayscale(100%);
    background-position: 4% 0%;
    cursor: pointer;
  }
  
  .right .inner:hover {
    filter: brightness(1);
    background-position: -4% 0%;
    cursor: pointer;
  }
  
  .inner h1 {
    margin-top: 0px;
  }
  
  .left h1 {
    text-align: left;
  
  }
  
  .left p {
    margin-top: -45px;
  }
  
  .right h1 {
    text-align: right;
  
  }
  
  .right p {
      margin-top: -45px;
  }
  




header{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: black;
    z-index: 999;
}

header p{
    font-size: 40px;
    transform: scale(1.5);
    margin-left: 60px;
    margin-right: 50px;
    font-family: 'Orbitron', sans-serif;
    transition: color 0.3s;
}

header p:hover{
    cursor: pointer;
    color: rgb(194, 194, 194);
    transition: color 0.3s;
}

header img:hover{
    cursor: pointer;
}

header div{
    display:flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ////////////////// */

.bouton {
    background-color: rgba(248, 248, 248, 0); /* Green */
    border: white solid 2px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    transition: border 0.3s, color 0.3s, background-color 0.3s;
  }

.bouton:hover{
    background-color: white;
    border: black solid 2px;
    color: black;
    transition: border 0.3s, color 0.3s, background-color 0.3s;
}

/* ///////MENU/////// */

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 0px;
}

#menu article{
    width: 50%;
    height: 41vh;
}

#menu article:active{
    transform: scale(0.98);
}

#menu h1{
    margin-bottom: 6%;
}

#menuelement1{
    background-image: url("images/menu/magaclite_illu.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    transition: filter 0.2s;
}

#menuelement2{
    background-image: url("images/menu/Onyx.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px) grayscale(100%);
    transition: filter 0.2s;
}

#menuelement3{
    background-image: url("images/menu/blueprint.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px) grayscale(100%);
    transition: filter 0.2s;
}

#menuelement4{
    background-image: url("images/menu/galaxy.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px) grayscale(100%);
    transition: filter 0.2s;
}   

#menuelement1:hover{
    filter: blur(0px);
    transition: filter 0.3s;
    cursor: pointer;
}

#menuelement2:hover{
    filter: blur(0px) grayscale(100%);
    transition: filter 0.3s;
    cursor: pointer;
}

#menuelement3:hover{
    filter: blur(0px) grayscale(100%);
    transition: filter 0.3s;
    cursor: pointer;
}

#menuelement4:hover{
    filter: blur(0px) grayscale(100%);
    transition: filter 0.3s;
    cursor: pointer;
}

/* /////////MENU PLANETES///////// */

#planeteliste {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 0px;
  }
  
  #planeteliste article {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 82vh;
    filter: blur(2px);
    transition: flex 1s, opacity 0.7s, filter 0.7s;
    overflow: hidden;
    opacity: 0.9;
  }
  
  #planeteliste article:active {
    transform: scale(0.98);
  }
  
  #planeteliste article:hover {
    flex: 15;
    opacity: 1;
    filter: blur(0px);
    cursor: pointer;
  }
  
  #planeteliste article .content {
    text-align: center;
    margin-bottom: 7%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  #planeteliste article:hover .content {
    opacity: 1;
    transition: opacity 0.5s;
  }

  #planeteliste article h1{
    font-size: 70px;
}

  #planeteliste article p{
      font-size: 30px;
      line-height: 1.6;
  }

#planeteListeMagaclite{
    background-image: url("images/planetesIllu/Magaclite.jpg");
}

#planeteListeTelesto{
    background-image: url("images/planetesIllu/Telesto.jpg");
}

#planeteListeSutur{
    background-image: url("images/planetesIllu/Sutur.jpg");
}

#planeteListeNaiade{
    background-image: url("images/planetesIllu/Naiade.jpg");
}

#planeteListeHiemus{
    background-image: url("images/planetesIllu/Hiemus.jpg");
}

#planeteListeEsprah{
    background-image: url("images/planetesIllu/Esprah.jpg");
}


/* ////////////////// */
  
.cadreplanete{
    height: 70vh;
}

.cadreplanete h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120px;
    letter-spacing: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.cadreplanete p{
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Raleway', sans-serif;
}

.icones{
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icones div{
    width: 33%;
    text-align: center;
}

.icones i{
    color: white;
    text-align: center;
    font-size: 140px;
}

.icones p{
    opacity: 0;
    transition: opacity 0.3s;
}

.icones div:hover p{
    opacity: 1;
    transition: opacity 0.3s;
}

/* ////////////////// */

#rouge{
    color: #8b0000;
}

#bleu{
    color: blue;
}

#vert{
    color: #bada55;
}

#saumon{
    color: #cc9cc5;
}

#gris{
    color: #414141;
}

#cyan{
    color: #73b8e5;
}

/* ////////////////// */

#fleche{
    transition: transform 0.3s;
}

#fleche:hover{
    transform: translate(0px, 10px);
    transition: transform 0.3s;
    cursor: pointer;
}

/* /////////ARIRERE PLAN DE PLANETE///////// */

#maga{
    background-image: url("images/planetesimage/Magaclite.jpg");
}

#tele{
    background-image: url("images/planetesimage/Telesto.jpg");
}

#sutu{
    background-image: url("images/planetesimage/Sutur.jpg");
}

#naia{
    background-image: url("images/planetesimage/Naiade.jpg");
}

#hiem{
    background-image: url("images/planetesimage/Hiemus.jpg");
}

#espr{
    background-image: url("images/planetesimage/Esprah.jpg");
}

/* ////////////////// */
.ficheplanete{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.texteplanete{
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 8%;
}

/* ////////////////// */

footer{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: black;

    display:flex;   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 33%;
    text-align: center;
    color: rgb(189, 189, 189);
}

footer a:link{
    color: white;
}

footer a:visited{
    color :white;
}

footer a:hover{
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

footer img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

footer img:hover{
    cursor: pointer;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

/* ////////////////// */

.parallax {
    /* The image used */
 
  
    /* Set a specific height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 10%;
    margin-bottom: 10%;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

  @keyframes rainbow {
    0% {
      color: white;
    }
    12% {
      color: rgb(50, 75, 185);
    }
    25% {
      color: rgb(64, 192, 64);
    }
    37% {
      color: rgb(241, 241, 64);
    }
    50% {
      color: rgb(209, 42, 42);
    }
    62% {
      color: rgb(241, 241, 64);
    }
    75% {
      color: rgb(64, 192, 64);
    }
    87% {
      color: rgb(50, 75, 185);
    }
  }

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px;
  }

  @media screen and (max-width: 1000px) {

    section p{
        letter-spacing: 7px;
    }

    #titre{
        margin-bottom: 5%;
    }

    #myVideo{
        display: none;
    }

    p{
        margin-bottom: 10%;
    }

    #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 0px;
    }
    
    #menu article{
        width: 100%;
        height: 41vh;
    }

    #menuelement1{
        filter: blur(0px);
        background-size: 100vw 50vh;
    }
    
    #menuelement2{
        filter: blur(0px) grayscale(100%);
        background-size: 100vw 50vh;
    }
    
    #menuelement3{
        filter: blur(0px) grayscale(100%);
        background-size: 100vw 50vh;
    }
    
    #menuelement4{
        filter: blur(0px) grayscale(100%);
        background-size: 100vw 50vh;
    } 

    #planeteliste {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin-top: 0px;
      }
      
      #planeteliste article {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100vw 100vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 41vh;
        width: 100%;
        filter: blur(0px);
        transition: none;
        overflow: hidden;
        opacity: 1;
      }
      
      #planeteliste article:active {
        transform: scale(0.98);
      }
      
      #planeteliste article:hover {
        flex: 1;
        opacity: 1;
        filter: blur(0px);
        cursor: pointer;
      }
      
      #planeteliste article .content {
        text-align: center;
        margin-bottom: 7%;
        opacity: 1;
        transition: none;
      }
      
      #planeteliste article:hover .content {
        opacity: 1;
        transition: none;
      }
    
      #planeteliste article h1{
        font-size: 8vw;
    }
    
      #planeteliste article p{
          font-size: 3vw;
      }
    
    .cadreplanete{
        height: 100%;
    }
    
    .cadreplanete h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12vw;
        letter-spacing: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .icones{
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-content: center;
    }
    
    .icones div{
        width: 70%;
        text-align: left;
        display: flex;
        flex-direction: center;
        align-items: center;
        align-content: center;  
    }   
    
    .icones p{
        opacity: 1;
        text-align: left;
        width: 50%;
        margin: 0px;
        font-size: 30px;
    }

    .icones i{
        color: white;
        text-align: center;
        font-size: 140px;
        width: 50%;
    }

    #fleche{
        width: 100%;
        display: none;
    }

    .ficheplanete{
        max-width: 50%;
    }

    header{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background: black;
    }
    
    header p{
        font-size: 6vw;
        transform: scale(1.5);
        margin-top: 9%;
        margin-left: 9%;
      
        font-family: 'Orbitron', sans-serif;
    }    

    header img{
        max-width: 30%;
        height: auto;
    }

    h1{
        font-size: 6vw;
        padding-top: 5%;
    }

    footer p{
        margin-bottom: 0px;
    }

    .wrapper {
        width: 100%;
        height: 75vh;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      
      .left,
      .right {
        width: 100%;
        height: 100%;
        top: 0;
        transform: skewX( 0deg);
      }
      
      .left {
        position: relative;
        left: 0%;
        margin-top: 0px;
      }
      
      .right {
        position: relative;
        right: 0%;
        margin-top: 0px;
      }
      
      .left .inner,
      .right .inner {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: skewX(0deg);
        filter: brightness(1);
      }
      
      .left .inner {
        background-image: url("images/menu/plaineespace.png");
        margin-left: 0%;
        text-align: left;
      
        filter: brightness(1);
        background-size: cover;
        transition: 0.4s;
      }
      
      .right .inner {
        margin-left: 0%;
      }
      
      .inner {
        position: relative;
      }
      
      .inner .text-wrapper {
        position: absolute;
      }
      
      .left .text-wrapper {
        top: 15px;
        left: 15px;
      }
      .right .text-wrapper {
        bottom: 15px;
        right: 15px;
      }
      
      .inner h1 {
        margin-top: 0px;
      }
      
      .left h1 {
        text-align: left;
      }
      
      .left p {
        margin-top: -7%;
      }
      
      
      .right p {
        margin-top: -7%;
      }
  }

  @media screen and (max-width: 800px) {

    section p{
        letter-spacing: 5px;
    }

    #titre{
        margin-bottom: 7%;
    }

    #menu article{
        height: 28vh;
    }

    #menu h1{
        margin-bottom: 10%;
        font-size: 7vw;
    }

    #planeteliste article {
        background-size: 100vw 50vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 28vh;
      }

      #planeteliste article h1{
        font-size: 7vw;
        margin-bottom: 5%;
    }
    
      #planeteliste article p{
          font-size: 2.5vw;
          margin-top: 0px;
      }
    
    .cadreplanete{
        height: 110%;
    }
    
    .cadreplanete h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12vw;
        letter-spacing: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .icones{
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-content: center;
    }
    
    .icones div{
        width: 70%;
        text-align: left;
        display: flex;
        flex-direction: center;
        align-items: center;
        align-content: center;  
    }   
    
    .icones p{
        opacity: 1;
        text-align: left;
        width: 50%;
        margin: 0px;
        font-size: 4vw;
    }

    .icones i{
        color: white;
        text-align: center;
        font-size: 17vw;
        width: 50%;
    }

    #fleche{
        width: 100%;
        display: none;
    }

    .ficheplanete{
        max-width: 60%;
    }

    header{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background: black;
    }
    
    header p{
        font-size: 6vw;
        transform: scale(1.5);
        margin-top: 9%;
        margin-left: 9%;
        font-family: 'Orbitron', sans-serif;
    }    

    header img{
        max-width: 20%;
        height: auto;
    }

    h1{
        font-size: 6vw;
    }

    footer img{
        max-width: 50%;
        height: auto;
    }

    footer p{
        font-size: 2vw;
    }

    footer a{
        text-align: center;
    }

    .texteplanete{
        text-align: center;
    }
  }